{% extends "base.html" %}
{% load static %}
{% block title %}About{% endblock  %}

{% block content %}
    <main class="main-contents">

        <div class="margintop"></div>

        <div class="page-banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-12" data-aos="fade-up">
                        <h1>আমাদের সম্পর্কে</h1>
                        <div class="mt-2">
                            <p>পন্ডিত, আইটি ইন্ডাস্ট্রিতে আপনাকে দক্ষ হিসেবে গড়ে তোলার বিশ্বস্ত প্রতিষ্ঠান। ভার্চুয়াল ট্রেইনিং জগতের পথিকৃৎ হিসেবে পন্ডিত আত্মপ্রকাশ করে ২০১৫ সালের ২৫ শে নভেম্বর। ভার্চুয়াল ট্রেইনিং এর পাশাপাশি বর্তমানে অফলাইন ট্রেনিং জগতেও
                                আমরা শ্রেষ্ঠত্ব অর্জন করতে সমর্থ হয়েছি শুধুমাত্র আমাদের শিক্ষার্থীদের ইন্ডাস্ট্রির জন্য দক্ষ হিসেবে গড়ে তোলার মাধ্যমে। বিগত ৭ বছরে পন্ডিতের শিক্ষার্থীরা দেশে এবং দেশের বাইরেও বিভিন্ন নামিদামি আইটি কোম্পানিগুলোতে যোগদান
                                করেছে, যা আমাদের সাফল্যের প্রতিফলন হিসেবে বিবেচিত। এছাড়াও এদেশের অন্যতম সমস্যা হিসেবে উল্লেখিত বেকার সমস্যা দূরীকরণ ও অতিরিক্ত জনসংখ্যাকে দক্ষ জনবল হিসেবে গড়ে তুলতে শুরু থেকেই পন্ডিত নিরলসভাবে কাজ করে যাচ্ছে। এরই ধারাবাহিকতায়
                                বাংলাদেশকে স্মার্ট বাংলাদেশ হিসেবে গড়ে তুলতে অবিরত অবদান রেখে যাচ্ছে পন্ডিত। আমাদের অভিজ্ঞ ট্রেইনাররা বিভিন্ন গুরুত্বপূর্ণ রিয়েল টাইম প্রজেক্টে সরাসরি সংযুক্ত থাকায় তাদের অর্জিত অভিজ্ঞতা শিক্ষার্থীদের জ্ঞানকে সমৃদ্ধ করতে
                                সহায়ক ভূমিকা পালন করছে।</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <section class="section py-5" data-aos="fade-up">
            <div class="container">
                <div class="row aos">
                    <div class="col-lg-6 col-md-6 d-flex">
                        <div class="section-sub-head pt-4 px-2"><span>সাফল্যের ৭ বছরের</span>
                            <h2 class="py-1">আইটি এক্সপার্ট তৈরির জগতে বিশ্বস্ত প্রতিষ্ঠান</h2>
                            <div class="pt-3" style="text-align: justify;">
                                <p>সুদীর্ঘ ৭ বছরের পথ চলায় আমরা তৈরি করেছি ৭ হাজারেরও বেশি দক্ষ শিক্ষার্থী। যারা গ্রাজুয়েশন কিংবা ডিপ্লোমা কমপ্লিট করে চাকুরিজীবনে পদার্পণ করছে খুব সহজেই। প্রযুক্তি নিয়ে কাজ করার সুবাদে ২০১৬ তে আমরা BASIS এর মেম্বারশিপ পাই
                                    এবং SEIP এবং BITM এর পার্টনার হিসেবে প্রযুক্তিনির্ভর প্রশিক্ষণ প্রদান করে থাকি । এই স্বল্প সময়ের মধ্যেই আমরা একাধিক জনপ্রিয় যুগোপযোগী ভার্চুয়াল কোর্স চালু করতে সক্ষম হয়েছি। যার ফলে দেশজুড়ে আমরা বিভিন্ন শ্রেণি-পেশার
                                    মানুষকে প্রশিক্ষণ দিয়ে আইটি সেক্টরে তাদেরকে দক্ষ হিসেবে গড়ে তুলেছি।</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 d-flex">
                        <div class="branding-image-container">
                            <img src="{% static 'assets/img/branding-image.webp' %}" alt="branding-image">
                        </div>
                    </div>
                </div>
            </div>
        </section>


        <div class="section new-course">
            <section class="section" data-aos="fade-up">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 d-flex text-center text-md-left mb-3">
                            <div class="student-mentor cube-instuctor aim-container blue-side">
                                <h4>আমাদের উদ্দেশ্য</h4>
                                <div class="top-instructors">
                                    <div style="text-align: justify;">
                                        <p>প্রযুক্তিনির্ভর বর্তমান এই সময়ে প্রযুক্তি ক্ষেত্রে দক্ষ কর্মীর প্রয়োজনীয়তা অনস্বীকার্য। আধুনিক, যুগোপযোগী ও মান সম্পন্ন প্রযুক্তিনির্ভর প্রশিক্ষণের মাধ্যমে দেশ ও দেশের বাইরের নবীন শিক্ষার্থীদের মানসম্পন্ন প্রশিক্ষণ
                                            প্রদান করে দক্ষ হিসেবে গড়ে তোলার মাধ্যমে বাংলাদেশকে&nbsp;আন্তর্জাতিক প্রযুক্তিক্ষেত্রে অনন্য উচ্চতায় নিয়ে যাওয়াই&nbsp;পন্ডিতের মূল উদ্দেশ্য।</p>
                                        <p class="MsoNormal">&nbsp;</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md-6 d-flex text-center text-md-left mb-3">
                            <div class="student-mentor blue-side">
                                <h4 class="">আমাদের লক্ষ্য</h4>
                                <div class="top-instructors">
                                    <div style="text-align: justify;">
                                        <p>প্রযুক্তিনির্ভর বর্তমান এই সময়ে প্রযুক্তি ক্ষেত্রে দক্ষ কর্মীর প্রয়োজনীয়তা অনস্বীকার্য। আধুনিক, যুগোপযোগী ও মান সম্পন্ন প্রযুক্তিনির্ভর প্রশিক্ষণের মাধ্যমে দেশ ও দেশের বাইরের নবীন শিক্ষার্থীদের মানসম্পন্ন প্রশিক্ষণ
                                            প্রদান করে দক্ষ হিসেবে গড়ে তোলার মাধ্যমে বাংলাদেশকে&nbsp;আন্তর্জাতিক প্রযুক্তিক্ষেত্রে অনন্য উচ্চতায় নিয়ে যাওয়াই&nbsp;পন্ডিতের মূল উদ্দেশ্য।</p>
                                        <p class="MsoNormal">&nbsp;</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <section class="section pb-5" data-aos="fade-up">
                <div class="container">
                    <div class="row">
                        <div class="col-12 d-flex">
                            <div class="student-mentor blue-side">
                                <h4 class="text-center">আমাদের ভবিষ্যৎ পরিকল্পনা</h4>
                                <div class="top-instructors">
                                    <div style="text-align: justify;">
                                        <p>একটি উন্নত দেশের মূল চালিকাশক্তি সেই দেশের শিক্ষিত এবং দক্ষ জনগোষ্ঠী। ১৮ কোটি মানুষের বাংলাদেশ এক অফুরন্ত সম্ভাবনার দেশ। এই জনসংখ্যার বেশ বড় একটি অংশ তরুন বা যুবক। এই তরুণ সম্প্রদায় কে দক্ষ জনশক্তি হিসেবে গড়ে তোলার
                                            লক্ষ্যে পন্ডিত নিরলস প্রচেষ্টা চালিয়ে যাচ্ছে ২০১৫ সাল থেকে। এদেশের জ্ঞানবঞ্চিত এবং সুবিধাবঞ্চিত শিক্ষার্থীদের টেক-এক্সপার্ট হিসেবে গড়ে তুলে দেশের সামগ্রিক অবস্থার উন্নয়ন নিয়ে কাজ করে যাওয়া আমাদের ভবিষ্যৎ পরিকল্পনার
                                            অন্যতম অংশ।&nbsp;</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>




        <section class="section py-5" data-aos="fade-up">
            <div class="container">
                <div>
                    <h1 class="text-center subtitle">আমরা যাদের সাথে যুক্ত আছি</h1>
                </div>
                <div class="row">
                    <div class="col-xl-4 col-lg-6 col-md-6 d-flex">
                        <div class=" membershipcard">
                            <div class=" ">
                                <div class=" membership-img">
                                    <a href="#">
                                        <img src="{% static 'assets/img/basis.webp' %}" alt="membership logo">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <h3 class="title text-center text-md-start"><a>BASIS</a></h3>
                                    <div style="text-align: justify;">
                                        <p>বাংলাদেশের সকল সফটওয়্যার নির্মাতা প্রতিষ্ঠানদের জাতীয় পর্যায়ের একক সঙ্ঘ হচ্ছে বেসিস (BASIS) যার পূর্ণ রুপ হল বাংলাদেশ এসোসিয়েশান অফ সফটওয়্যার এন্ড ইনফরমেশন সার্ভিসেস। বাংলাদেশের সফটওয়্যার খাতের প্রতিনিধিত্ব করে
                                            বেসিস। PONDIT ২০১৬ সালের ২৮ অগাস্ট বেসিসের মেম্বারশিপ অর্জন করে যা পন্ডিতের এক অন্যতম মাইলফলক।</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 d-flex">
                        <div class=" membershipcard">
                            <div class=" ">
                                <div class=" membership-img">
                                    <a href="#">
                                        <img src="{% static 'assets/img/seip.webp' %}" alt="membership logo">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <h3 class="title text-center text-md-start"><a>SEIP</a></h3>
                                    <div style="text-align: justify;">
                                        <p>বাংলাদেশ সরকারের অর্থ মন্ত্রণালয়ের আওতায় SEIP-skill for Employment Investments Program প্রকল্পের অধীনে শুরু হয়েছে BASIS-SEIP Tranche 3। এই প্রকল্পের মাধ্যমে তথ্যপ্রযুক্তি খাতে উল্লেখযোগ্য সংখ্যক দক্ষ জনবল তৈরীর
                                            লক্ষ্য নিয়ে পন্ডিতের তত্ত্বাবধানে করানো হয় SEIP Project এর ফ্রি ট্রেনিং প্রোগ্রাম।</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-6 col-md-6 d-flex">
                        <div class=" membershipcard">
                            <div class=" ">
                                <div class=" membership-img">
                                    <a href="#">
                                        <img src="{% static 'assets/img/btm.webp' %}" alt="membership logo">
                                    </a>
                                </div>
                                <div class="product-content">
                                    <h3 class="title text-center text-md-start"><a>BITM</a></h3>
                                    <div style="text-align: justify;">
                                        <p>বি আই টি এম(BITM), বেসিসের(BASIS) নিজস্ব আইটি(IT) প্রশিক্ষণ প্রতিষ্ঠান। দেশের আইটি ক্ষেত্রে দক্ষ লোকের অপ্রতুলতা দূরীকরণের উদ্দেশ্যে ২০০৭ সালে যাত্রা শুরু হয় প্রতিষ্ঠানটির। PONDIT বিভিন্ন সময়ে বি আই টি এম এর কোলাবোরেশনে
                                            বেশ কিছু কোর্স অফার করে থাকে।</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>



        <section class="section training-category py-5 " data-aos="fade-up">
            <div class="container">
                <div>
                    <h1 class="text-center subtitle">আমাদের ট্রেনিং ডিপার্টমেন্ট</h1>
                    <div class="text-center py-2">
                        <p><span style="color: #22100d; font-family: 'Noto Sans Bengali', sans-serif; font-size: 16px; text-align: center;">প্রযুক্তিক্ষেত্রে প্রশিক্ষণের জন্য পন্ডিতের রয়েছে বিভিন্ন ডিপার্টমেন্ট। এই ডিপার্টমেন্টগুলোতে একই ধরনের কোর্সগুলোকে শ্রেণীবদ্ধ করা হয়েছে।</span></p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-6 d-flex mt-3">
                        <div class="course-full-width ">
                            <div class="blur-border course-radius aos" data-aos="fade-up">
                                <div class="online-course d-flex align-items-center" style="height:132px">
                                    <div class="course-img ">
                                        <img src="{% static 'assets/img/webdevelopment.webp' %}" alt="online-course">
                                    </div>
                                    <div>
                                        <div class="course-inner-content">
                                            <h6 class="categorycard-title "><span class="">ওয়েব  ডিজাইন এন্ড ডেভেলপমেন্ট</span></h6>
                                            <p>৭০
                                                <!-- -->+</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 d-flex mt-3">
                        <div class="course-full-width ">
                            <div class="blur-border course-radius aos" data-aos="fade-up">
                                <div class="online-course d-flex align-items-center" style="height:132px">
                                    <div class="course-img ">
                                        <img src="{% static 'assets/img/webdevelopment.webp' %}" alt="online-course">
                                    </div>
                                    <div>
                                        <div class="course-inner-content">
                                            <h6 class="categorycard-title "><span class="">বিগ ডাটা এন্ড ডাটা সাইন্স</span></h6>
                                            <p>১১
                                                <!-- -->+</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 d-flex mt-3">
                        <div class="course-full-width ">
                            <div class="blur-border course-radius aos" data-aos="fade-up">
                                <div class="online-course d-flex align-items-center" style="height:132px">
                                    <div class="course-img ">
                                        <img src="{% static 'assets/img/webdevelopment.webp' %}" alt="online-course">
                                    </div>
                                    <div>
                                        <div class="course-inner-content">
                                            <h6 class="categorycard-title "><span class="">ক্লাউড কম্পিউটিং</span></h6>
                                            <p>১০
                                                <!-- -->+</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 d-flex mt-3">
                        <div class="course-full-width ">
                            <div class="blur-border course-radius aos" data-aos="fade-up">
                                <div class="online-course d-flex align-items-center" style="height:132px">
                                    <div class="course-img ">
                                        <img src="{% static 'assets/img/webdevelopment.webp' %}" alt="online-course">
                                    </div>
                                    <div>
                                        <div class="course-inner-content">
                                            <h6 class="categorycard-title "><span class="">ডিজাইন এন্ড মাল্টিমিডিয়া</span></h6>
                                            <p>৩
                                                <!-- -->+</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 d-flex mt-3">
                        <div class="course-full-width ">
                            <div class="blur-border course-radius aos" data-aos="fade-up">
                                <div class="online-course d-flex align-items-center" style="height:132px">
                                    <div class="course-img ">
                                        <img src="{% static 'assets/img/webdevelopment.webp' %}" alt="online-course">
                                    </div>
                                    <div>
                                        <div class="course-inner-content">
                                            <h6 class="categorycard-title "><span class="">রোবটিক্স এন্ড অটোমেশন</span></h6>
                                            <p>৩
                                                <!-- -->+</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 d-flex mt-3">
                        <div class="course-full-width ">
                            <div class="blur-border course-radius aos" data-aos="fade-up">
                                <div class="online-course d-flex align-items-center" style="height:132px">
                                    <div class="course-img ">
                                        <img src="{% static 'assets/img/webdevelopment.webp' %}" alt="online-course">
                                    </div>
                                    <div>
                                        <div class="course-inner-content">
                                            <h6 class="categorycard-title "><span class="">মোবাইল এপ্লিকেশন ডেভেলপমেন্ট</span></h6>
                                            <p>০
                                                <!-- -->+</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 d-flex mt-3">
                        <div class="course-full-width ">
                            <div class="blur-border course-radius aos" data-aos="fade-up">
                                <div class="online-course d-flex align-items-center" style="height:132px">
                                    <div class="course-img ">
                                        <img src="{% static 'assets/img/webdevelopment.webp' %}" alt="online-course">
                                    </div>
                                    <div>
                                        <div class="course-inner-content">
                                            <h6 class="categorycard-title "><span class="">ডিজিটাল মার্কেটিং</span></h6>
                                            <p>১
                                                <!-- -->+</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 d-flex mt-3">
                        <div class="course-full-width ">
                            <div class="blur-border course-radius aos" data-aos="fade-up">
                                <div class="online-course d-flex align-items-center" style="height:132px">
                                    <div class="course-img ">
                                        <img src="{% static 'assets/img/webdevelopment.webp' %}" alt="online-course">
                                    </div>
                                    <div>
                                        <div class="course-inner-content">
                                            <h6 class="categorycard-title "><span class="">প্রম্পট ইঞ্জিনিয়ারিং</span></h6>
                                            <p>২
                                                <!-- -->+</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>




    </main>
{% endblock %}