{% extends "base.html" %}
{% load static %}
{% block title %}Courses{% endblock  %}

{% block content %}
    <main class="main-contents">

        <div class="margintop"></div>

        <div class="page-banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-12" data-aos="fade-up">
                        <h1 class="mb-0">আমাদের কোর্সসমূহ</h1>
                        <div class="mt-2" style="text-align: justify;">
                            <p>বর্তমান টেক-বিশ্বের চাহিদার সাথে সামঞ্জস্য রেখে পন্ডিতে রয়েছে বিভিন্ন ক্যাটাগরির বিভিন্ন কোর্স। কোর্সগুলো ক্যাটাগরি হিসেবে বিভক্ত থাকার কারনে যে কেওই তার প্রয়োজনীয় কোর্সটি খুঁজে বের করতে পারবেন সহজেই। আমাদের একটি অন্যন্য বৈশিষ্ট্য
                                হচ্ছে আমাদের কোর্সসমূহ, বাংলাদেশ এবং বহির্বিশ্বের স্বনামধন্য বিভিন্ন সফটওয়্যার ডেভেলপমেন্ট কোম্পানিগুলোতে যুক্ত আছেন ইন্ডাস্ট্রির এমন অভিজ্ঞ এবং দক্ষ মেন্টর দ্বারা পরিচালিত। ইন্ডাস্ট্রি পারসনদের সরাসরি তত্ত্ববধানে থাকার
                                কারনে শিক্ষার্থীরা কোন বিশেষ বিষয়ে জ্ঞানার্জনের পাশাপাশি ব্যবহারিক এবং প্রায়োগিক জ্ঞান ও অর্জন করার সুযোগ পেয়ে থাকে।</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>



        <div class="py-5 container courses" data-aos="fade-up">
            <div class="row">
                <div class="col-md-3">
                    <h1 class="pb-3 subtitle">কোর্স ক্যাটাগরি</h1>
                    <div class="">
                        <div class="form-check mb-2"><input class="form-check-input style_customFormCheckInput__TKCwq" type="checkbox" id="21" value=""><label class="form-check-label style_customFormCheckLabel__OHT85" for="21">ওয়েব  ডিজাইন এন্ড ডেভেলপমেন্ট</label></div>
                        <div class="form-check mb-2"><input class="form-check-input style_customFormCheckInput__TKCwq" type="checkbox" id="23" value=""><label class="form-check-label style_customFormCheckLabel__OHT85" for="23">বিগ ডাটা এন্ড ডাটা সাইন্স</label></div>
                        <div class="form-check mb-2"><input class="form-check-input style_customFormCheckInput__TKCwq" type="checkbox" id="24" value=""><label class="form-check-label style_customFormCheckLabel__OHT85" for="24">ক্লাউড কম্পিউটিং</label></div>
                        <div class="form-check mb-2"><input class="form-check-input style_customFormCheckInput__TKCwq" type="checkbox" id="32" value=""><label class="form-check-label style_customFormCheckLabel__OHT85" for="32">ডিজাইন এন্ড মাল্টিমিডিয়া</label></div>
                        <div class="form-check mb-2"><input class="form-check-input style_customFormCheckInput__TKCwq" type="checkbox" id="33" value=""><label class="form-check-label style_customFormCheckLabel__OHT85" for="33">রোবটিক্স এন্ড অটোমেশন</label></div>
                        <div class="form-check mb-2"><input class="form-check-input style_customFormCheckInput__TKCwq" type="checkbox" id="34" value=""><label class="form-check-label style_customFormCheckLabel__OHT85" for="34">মোবাইল এপ্লিকেশন ডেভেলপমেন্ট</label></div>
                        <div class="form-check mb-2"><input class="form-check-input style_customFormCheckInput__TKCwq" type="checkbox" id="35" value=""><label class="form-check-label style_customFormCheckLabel__OHT85" for="35">ডিজিটাল মার্কেটিং</label></div>
                        <div class="form-check mb-2"><input class="form-check-input style_customFormCheckInput__TKCwq" type="checkbox" id="36" value=""><label class="form-check-label style_customFormCheckLabel__OHT85" for="36">প্রম্পট ইঞ্জিনিয়ারিং</label></div>
                    </div>
                </div>
                <div class="col-md-9">
                    <section class="course-content pt-3">
                        <div class="container mb-2 category-wise-course" id="flagship-programme">
                            <div class="title-sec">
                                <div class="d-flex">
                                    <h2><span>ফ্লাগশিপ প্রোগ্রাম</span></h2>
                                    <h2> (১ টি)</h2>
                                </div>
                                <div>
                                    <p>শুধুমাত্র বাংলাদেশেই নয় বরং পুরো বিশ্বেই ফুলস্ট্যাক ডেভেলপারদের অনেক বেশি চাহিদা রয়েছে। এসব বিবেচনা করেই আমরা নিয়ে এসেছি আমাদের ফ্ল্যাগশিপ প্রোগ্রাম ফুলস্ট্যাক ডেভেলপমেন্ট। এই প্রোগ্রামটিকে আমরা এমনভাবে সাজিয়েছি
                                        যেন শিক্ষার্থীরা খুব সহজেই বুঝতে ও শিখতে পারে। এছাড়াও সম্পূর্ণ কোর্স জুড়ে শিক্ষার্থীদের সরাসরি মনিটরিং করা হয় এবং তাদের দিয়ে তৈরি করানো হবে যুগোপযোগী প্রজেক্ট।</p>
                                </div>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col-lg-4 col-md-6 mb-3 d-flex aos-init" data-aos="fade-up">
                                    <div class=" product card h-100  style_othersProductWhenActive__QFDbV  C ">
                                        <div class="product-img">
                                            <a href="{% url 'courses_details_page' %}">
                                                <img src="{% static 'assets/img/javacource.webp' %}" alt="java">
                                            </a>
                                            <div class="price">
                                                <h3>৳ ৬৫০০
                                                    <!-- --><span>৳ <!-- -->২৫০০০</span></h3>
                                            </div>
                                        </div>
                                        <div class="card-body pb-0 px-1">
                                            <div class="product-content">
                                                <div class="course-group">
                                                    <div class="course-group-img me-2">
                                                        <a href="#">
                                                            <img src="{% static 'assets/img/jamilur.webp' %}" alt="jamilur">
                                                        </a>
                                                        <div class="course-name ms-2">
                                                            <h4><a>Jamilur Rahman</a></h4>
                                                            <p>মেন্টর</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h3 class="title"><a href="{% url 'courses_details_page' %}">Java with Spring and Spring Boot: Road to becoming complete developer<!-- --> (<!-- -->8th Batch<!-- -->) </a></h3>
                                                <div class="d-flex mb-4">
                                                    <div class="rating-img d-flex">
                                                        <img src="{% static 'assets/img/icon-01.svg' %}" alt="icon">
                                                        <p class="align-self-center mb-0 ms-1">31
                                                            <!-- -->+ Lesson</p>
                                                    </div>
                                                    <div class="course-view d-flex">

                                                        <img src="{% static 'assets/img/icon-02.svg' %}" alt="icon">
                                                        <p class="align-self-center mb-0 ms-1">100
                                                            <!-- -->hr
                                                            <!-- -->0
                                                            <!-- -->min</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="all-btn all-category"><a class="btn btn-primary" href="{% url 'courses_details_page' %}">বিস্তারিত</a></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-4 col-md-6 mb-3 d-flex aos-init" data-aos="fade-up">
                                    <div class=" product card h-100  style_othersProductWhenActive__QFDbV  C ">
                                        <div class="product-img">
                                            <a href="{% url 'courses_details_page' %}">
                                                <img src="{% static 'assets/img/javacource.webp' %}" alt="java">
                                            </a>
                                            <div class="price">
                                                <h3>৳ ৬৫০০
                                                    <!-- --><span>৳ <!-- -->২৫০০০</span></h3>
                                            </div>
                                        </div>
                                        <div class="card-body pb-0 px-1">
                                            <div class="product-content">
                                                <div class="course-group">
                                                    <div class="course-group-img me-2">
                                                        <a href="#">
                                                            <img src="{% static 'assets/img/jamilur.webp' %}" alt="jamilur">
                                                        </a>
                                                        <div class="course-name ms-2">
                                                            <h4><a>Jamilur Rahman</a></h4>
                                                            <p>মেন্টর</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h3 class="title"><a href="{% url 'courses_details_page' %}">Java with Spring and Spring Boot: Road to becoming complete developer<!-- --> (<!-- -->8th Batch<!-- -->) </a></h3>
                                                <div class="d-flex mb-4">
                                                    <div class="rating-img d-flex">
                                                        <img src="{% static 'assets/img/icon-01.svg' %}" alt="icon">
                                                        <p class="align-self-center mb-0 ms-1">31
                                                            <!-- -->+ Lesson</p>
                                                    </div>
                                                    <div class="course-view d-flex">

                                                        <img src="{% static 'assets/img/icon-02.svg' %}" alt="icon">
                                                        <p class="align-self-center mb-0 ms-1">100
                                                            <!-- -->hr
                                                            <!-- -->0
                                                            <!-- -->min</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="all-btn all-category"><a class="btn btn-primary" href="{% url 'courses_details_page' %}">বিস্তারিত</a></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-4 col-md-6 mb-3 d-flex aos-init" data-aos="fade-up">
                                    <div class=" product card h-100  style_othersProductWhenActive__QFDbV  C ">
                                        <div class="product-img">
                                            <a href="{% url 'courses_details_page' %}">
                                                <img src="{% static 'assets/img/javacource.webp' %}" alt="java">
                                            </a>
                                            <div class="price">
                                                <h3>৳ ৬৫০০
                                                    <!-- --><span>৳ <!-- -->২৫০০০</span></h3>
                                            </div>
                                        </div>
                                        <div class="card-body pb-0 px-1">
                                            <div class="product-content">
                                                <div class="course-group">
                                                    <div class="course-group-img me-2">
                                                        <a href="#">
                                                            <img src="{% static 'assets/img/jamilur.webp' %}" alt="jamilur">
                                                        </a>
                                                        <div class="course-name ms-2">
                                                            <h4><a>Jamilur Rahman</a></h4>
                                                            <p>মেন্টর</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h3 class="title"><a href="{% url 'courses_details_page' %}">Java with Spring and Spring Boot: Road to becoming complete developer<!-- --> (<!-- -->8th Batch<!-- -->) </a></h3>
                                                <div class="d-flex mb-4">
                                                    <div class="rating-img d-flex">
                                                        <img src="{% static 'assets/img/icon-01.svg' %}" alt="icon">
                                                        <p class="align-self-center mb-0 ms-1">31
                                                            <!-- -->+ Lesson</p>
                                                    </div>
                                                    <div class="course-view d-flex">

                                                        <img src="{% static 'assets/img/icon-02.svg' %}" alt="icon">
                                                        <p class="align-self-center mb-0 ms-1">100
                                                            <!-- -->hr
                                                            <!-- -->0
                                                            <!-- -->min</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="all-btn all-category"><a class="btn btn-primary" href="{% url 'courses_details_page' %}">বিস্তারিত</a></div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <hr class="my-5">
                        </div>
                        <div class="container mb-2 category-wise-course" id="online-course">
                            <div class="title-sec">
                                <div class="d-flex">
                                    <h2><span>অনলাইন কোর্স</span></h2>
                                    <h2> (১ টি)</h2>
                                </div>
                                <div>
                                    <p>ক্রমাগত পরিবর্তনশীল টেক ওয়ার্ল্ডের সাথে তাল মেলাতে হলে নিজেকে আপগ্রেডেড রাখার কোন বিকল্প নেই। আইটি ইন্ডাস্ট্রির প্রতিযোগীতামূলক পরিবেশে সফল ক্যারিয়ার গড়তে আগ্রহী শিক্ষার্থীদের জন্য রয়েছে পন্ডিতের&nbsp; ভিন্ন ভিন্ন&nbsp;
                                        টেকনোলজি বিষয়ক বিভিন্ন কোর্স । দেশের দূরতম প্রান্তে অবস্থানরত আগ্রহী শিক্ষার্থীদের কথা বিবেচনা করে এসকল কোর্সসমূহের রয়েছে অনলাইন ভার্শন যেখানে একজন শিক্ষার্থী বিশ্বের যে কোন প্রান্ত থেকে যুক্ত হতে পারবে লাইভ ক্লাসে।&nbsp;</p>
                                </div>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col-lg-4 col-md-6 mb-3 d-flex aos-init" data-aos="fade-up">
                                    <div class=" product card h-100  style_othersProductWhenActive__QFDbV  C ">
                                        <div class="product-img">
                                            <a href="{% url 'courses_details_page' %}">
                                                <img src="{% static 'assets/img/javacource.webp' %}" alt="java">
                                            </a>
                                            <div class="price">
                                                <h3>৳ ৬৫০০
                                                    <!-- --><span>৳ <!-- -->২৫০০০</span></h3>
                                            </div>
                                        </div>
                                        <div class="card-body pb-0 px-1">
                                            <div class="product-content">
                                                <div class="course-group">
                                                    <div class="course-group-img me-2">
                                                        <a href="#">
                                                            <img src="{% static 'assets/img/jamilur.webp' %}" alt="jamilur">
                                                        </a>
                                                        <div class="course-name ms-2">
                                                            <h4><a>Jamilur Rahman</a></h4>
                                                            <p>মেন্টর</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h3 class="title"><a href="{% url 'courses_details_page' %}">Java with Spring and Spring Boot: Road to becoming complete developer<!-- --> (<!-- -->8th Batch<!-- -->) </a></h3>
                                                <div class="d-flex mb-4">
                                                    <div class="rating-img d-flex">
                                                        <img src="{% static 'assets/img/icon-01.svg' %}" alt="icon">
                                                        <p class="align-self-center mb-0 ms-1">31
                                                            <!-- -->+ Lesson</p>
                                                    </div>
                                                    <div class="course-view d-flex">

                                                        <img src="{% static 'assets/img/icon-02.svg' %}" alt="icon">
                                                        <p class="align-self-center mb-0 ms-1">100
                                                            <!-- -->hr
                                                            <!-- -->0
                                                            <!-- -->min</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="all-btn all-category"><a class="btn btn-primary" href="{% url 'courses_details_page' %}">বিস্তারিত</a></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-4 col-md-6 mb-3 d-flex aos-init" data-aos="fade-up">
                                    <div class=" product card h-100  style_othersProductWhenActive__QFDbV  C ">
                                        <div class="product-img">
                                            <a href="{% url 'courses_details_page' %}">
                                                <img src="{% static 'assets/img/javacource.webp' %}" alt="java">
                                            </a>
                                            <div class="price">
                                                <h3>৳ ৬৫০০
                                                    <!-- --><span>৳ <!-- -->২৫০০০</span></h3>
                                            </div>
                                        </div>
                                        <div class="card-body pb-0 px-1">
                                            <div class="product-content">
                                                <div class="course-group">
                                                    <div class="course-group-img me-2">
                                                        <a href="#">
                                                            <img src="{% static 'assets/img/jamilur.webp' %}" alt="jamilur">
                                                        </a>
                                                        <div class="course-name ms-2">
                                                            <h4><a>Jamilur Rahman</a></h4>
                                                            <p>মেন্টর</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h3 class="title"><a href="{% url 'courses_details_page' %}">Java with Spring and Spring Boot: Road to becoming complete developer<!-- --> (<!-- -->8th Batch<!-- -->) </a></h3>
                                                <div class="d-flex mb-4">
                                                    <div class="rating-img d-flex">
                                                        <img src="{% static 'assets/img/icon-01.svg' %}" alt="icon">
                                                        <p class="align-self-center mb-0 ms-1">31
                                                            <!-- -->+ Lesson</p>
                                                    </div>
                                                    <div class="course-view d-flex">

                                                        <img src="{% static 'assets/img/icon-02.svg' %}" alt="icon">
                                                        <p class="align-self-center mb-0 ms-1">100
                                                            <!-- -->hr
                                                            <!-- -->0
                                                            <!-- -->min</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="all-btn all-category"><a class="btn btn-primary" href="{% url 'courses_details_page' %}">বিস্তারিত</a></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-4 col-md-6 mb-3 d-flex aos-init" data-aos="fade-up">
                                    <div class=" product card h-100  style_othersProductWhenActive__QFDbV  C ">
                                        <div class="product-img">
                                            <a href="{% url 'courses_details_page' %}">
                                                <img src="{% static 'assets/img/javacource.webp' %}" alt="java">
                                            </a>
                                            <div class="price">
                                                <h3>৳ ৬৫০০
                                                    <!-- --><span>৳ <!-- -->২৫০০০</span></h3>
                                            </div>
                                        </div>
                                        <div class="card-body pb-0 px-1">
                                            <div class="product-content">
                                                <div class="course-group">
                                                    <div class="course-group-img me-2">
                                                        <a href="#">
                                                            <img src="{% static 'assets/img/jamilur.webp' %}" alt="jamilur">
                                                        </a>
                                                        <div class="course-name ms-2">
                                                            <h4><a>Jamilur Rahman</a></h4>
                                                            <p>মেন্টর</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h3 class="title"><a href="{% url 'courses_details_page' %}">Java with Spring and Spring Boot: Road to becoming complete developer<!-- --> (<!-- -->8th Batch<!-- -->) </a></h3>
                                                <div class="d-flex mb-4">
                                                    <div class="rating-img d-flex">
                                                        <img src="{% static 'assets/img/icon-01.svg' %}" alt="icon">
                                                        <p class="align-self-center mb-0 ms-1">31
                                                            <!-- -->+ Lesson</p>
                                                    </div>
                                                    <div class="course-view d-flex">

                                                        <img src="{% static 'assets/img/icon-02.svg' %}" alt="icon">
                                                        <p class="align-self-center mb-0 ms-1">100
                                                            <!-- -->hr
                                                            <!-- -->0
                                                            <!-- -->min</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="all-btn all-category"><a class="btn btn-primary" href="{% url 'courses_details_page' %}">বিস্তারিত</a></div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <hr class="my-5">
                        </div>
                        <div class="container mb-2 category-wise-course" id="workshop">
                            <div class="title-sec">
                                <div class="d-flex">
                                    <h2><span>ওয়ার্কশপ</span></h2>
                                    <h2> (২ টি)</h2>
                                </div>
                                <div>
                                    <p>আমাদের অন্যতম বিশেষ আয়োজন ওয়ার্কশপ। সাধারণত প্রতি মাসে একাধিক স্কিল বেইজড টপিকের উপর ওয়ার্কশপ হয়ে থাকে, যা ৪ ঘন্টা থেকে সর্বোচ্চ ৮ ঘন্টা ব্যাপী হয়। এই ওয়ার্কশপ গুলো ফিজিক্যালি হয়ে থাকে, যেখানে শিক্ষার্থীরা হাতে-কলমে
                                        শেখার সুযোগ পেয়ে থাকেন।</p>
                                </div>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col-lg-4 col-md-6 mb-3 d-flex aos-init" data-aos="fade-up">
                                    <div class=" product card h-100  style_othersProductWhenActive__QFDbV  C ">
                                        <div class="product-img">
                                            <a href="{% url 'courses_details_page' %}">
                                                <img src="{% static 'assets/img/javacource.webp' %}" alt="java">
                                            </a>
                                            <div class="price">
                                                <h3>৳ ৬৫০০
                                                    <!-- --><span>৳ <!-- -->২৫০০০</span></h3>
                                            </div>
                                        </div>
                                        <div class="card-body pb-0 px-1">
                                            <div class="product-content">
                                                <div class="course-group">
                                                    <div class="course-group-img me-2">
                                                        <a href="#">
                                                            <img src="{% static 'assets/img/jamilur.webp' %}" alt="jamilur">
                                                        </a>
                                                        <div class="course-name ms-2">
                                                            <h4><a>Jamilur Rahman</a></h4>
                                                            <p>মেন্টর</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h3 class="title"><a href="{% url 'courses_details_page' %}">Java with Spring and Spring Boot: Road to becoming complete developer<!-- --> (<!-- -->8th Batch<!-- -->) </a></h3>
                                                <div class="d-flex mb-4">
                                                    <div class="rating-img d-flex">
                                                        <img src="{% static 'assets/img/icon-01.svg' %}" alt="icon">
                                                        <p class="align-self-center mb-0 ms-1">31
                                                            <!-- -->+ Lesson</p>
                                                    </div>
                                                    <div class="course-view d-flex">

                                                        <img src="{% static 'assets/img/icon-02.svg' %}" alt="icon">
                                                        <p class="align-self-center mb-0 ms-1">100
                                                            <!-- -->hr
                                                            <!-- -->0
                                                            <!-- -->min</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="all-btn all-category"><a class="btn btn-primary" href="{% url 'courses_details_page' %}">বিস্তারিত</a></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-4 col-md-6 mb-3 d-flex aos-init" data-aos="fade-up">
                                    <div class=" product card h-100  style_othersProductWhenActive__QFDbV  C ">
                                        <div class="product-img">
                                            <a href="{% url 'courses_details_page' %}">
                                                <img src="{% static 'assets/img/javacource.webp' %}" alt="java">
                                            </a>
                                            <div class="price">
                                                <h3>৳ ৬৫০০
                                                    <!-- --><span>৳ <!-- -->২৫০০০</span></h3>
                                            </div>
                                        </div>
                                        <div class="card-body pb-0 px-1">
                                            <div class="product-content">
                                                <div class="course-group">
                                                    <div class="course-group-img me-2">
                                                        <a href="#">
                                                            <img src="{% static 'assets/img/jamilur.webp' %}" alt="jamilur">
                                                        </a>
                                                        <div class="course-name ms-2">
                                                            <h4><a>Jamilur Rahman</a></h4>
                                                            <p>মেন্টর</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h3 class="title"><a href="{% url 'courses_details_page' %}">Java with Spring and Spring Boot: Road to becoming complete developer<!-- --> (<!-- -->8th Batch<!-- -->) </a></h3>
                                                <div class="d-flex mb-4">
                                                    <div class="rating-img d-flex">
                                                        <img src="{% static 'assets/img/icon-01.svg' %}" alt="icon">
                                                        <p class="align-self-center mb-0 ms-1">31
                                                            <!-- -->+ Lesson</p>
                                                    </div>
                                                    <div class="course-view d-flex">

                                                        <img src="{% static 'assets/img/icon-02.svg' %}" alt="icon">
                                                        <p class="align-self-center mb-0 ms-1">100
                                                            <!-- -->hr
                                                            <!-- -->0
                                                            <!-- -->min</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="all-btn all-category"><a class="btn btn-primary" href="{% url 'courses_details_page' %}">বিস্তারিত</a></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-4 col-md-6 mb-3 d-flex aos-init" data-aos="fade-up">
                                    <div class=" product card h-100  style_othersProductWhenActive__QFDbV  C ">
                                        <div class="product-img">
                                            <a href="{% url 'courses_details_page' %}">
                                                <img src="{% static 'assets/img/javacource.webp' %}" alt="java">
                                            </a>
                                            <div class="price">
                                                <h3>৳ ৬৫০০
                                                    <!-- --><span>৳ <!-- -->২৫০০০</span></h3>
                                            </div>
                                        </div>
                                        <div class="card-body pb-0 px-1">
                                            <div class="product-content">
                                                <div class="course-group">
                                                    <div class="course-group-img me-2">
                                                        <a href="#">
                                                            <img src="{% static 'assets/img/jamilur.webp' %}" alt="jamilur">
                                                        </a>
                                                        <div class="course-name ms-2">
                                                            <h4><a>Jamilur Rahman</a></h4>
                                                            <p>মেন্টর</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h3 class="title"><a href="{% url 'courses_details_page' %}">Java with Spring and Spring Boot: Road to becoming complete developer<!-- --> (<!-- -->8th Batch<!-- -->) </a></h3>
                                                <div class="d-flex mb-4">
                                                    <div class="rating-img d-flex">
                                                        <img src="{% static 'assets/img/icon-01.svg' %}" alt="icon">
                                                        <p class="align-self-center mb-0 ms-1">31
                                                            <!-- -->+ Lesson</p>
                                                    </div>
                                                    <div class="course-view d-flex">

                                                        <img src="{% static 'assets/img/icon-02.svg' %}" alt="icon">
                                                        <p class="align-self-center mb-0 ms-1">100
                                                            <!-- -->hr
                                                            <!-- -->0
                                                            <!-- -->min</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="all-btn all-category"><a class="btn btn-primary" href="{% url 'courses_details_page' %}">বিস্তারিত</a></div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <hr class="my-5">
                        </div>
                        <div class="container mb-2 category-wise-course" id="offline-course">
                            <div class="title-sec">
                                <div class="d-flex">
                                    <h2><span>অফলাইন কোর্স</span></h2>
                                    <h2> (১ টি)</h2>
                                </div>
                                <div>
                                    <p>প্রযুক্তি ক্ষেত্রে নিজেকে দক্ষ এবং প্রতিশ্রুতিশীল হিসেবে তৈরী করতে চাইলে পন্ডিত হতে পারে আপনার বিশ্বস্ত পথপ্রদর্শক। আইটি ইন্ডাস্ট্রির প্রতিযোগীতামূলক পরিবেশে সফল ক্যারিয়ার গড়তে আগ্রহী শিক্ষার্থীদের জন্য রয়েছে পন্ডিতের&nbsp;
                                        ভিন্ন ভিন্ন&nbsp; টেকনোলজি বিষয়ক অফলাইন&nbsp;কোর্স।&nbsp;</p>
                                </div>
                            </div>
                            <div class="row row-cols-1 row-cols-md-3 g-4">
                                <div class="col-lg-4 col-md-6 mb-3 d-flex aos-init" data-aos="fade-up">
                                    <div class=" product card h-100  style_othersProductWhenActive__QFDbV  C ">
                                        <div class="product-img">
                                            <a href="{% url 'courses_details_page' %}">
                                                <img src="{% static 'assets/img/javacource.webp' %}" alt="java">
                                            </a>
                                            <div class="price">
                                                <h3>৳ ৬৫০০
                                                    <!-- --><span>৳ <!-- -->২৫০০০</span></h3>
                                            </div>
                                        </div>
                                        <div class="card-body pb-0 px-1">
                                            <div class="product-content">
                                                <div class="course-group">
                                                    <div class="course-group-img me-2">
                                                        <a href="#">
                                                            <img src="{% static 'assets/img/jamilur.webp' %}" alt="jamilur">
                                                        </a>
                                                        <div class="course-name ms-2">
                                                            <h4><a>Jamilur Rahman</a></h4>
                                                            <p>মেন্টর</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h3 class="title"><a href="{% url 'courses_details_page' %}">Java with Spring and Spring Boot: Road to becoming complete developer<!-- --> (<!-- -->8th Batch<!-- -->) </a></h3>
                                                <div class="d-flex mb-4">
                                                    <div class="rating-img d-flex">
                                                        <img src="{% static 'assets/img/icon-01.svg' %}" alt="icon">
                                                        <p class="align-self-center mb-0 ms-1">31
                                                            <!-- -->+ Lesson</p>
                                                    </div>
                                                    <div class="course-view d-flex">

                                                        <img src="{% static 'assets/img/icon-02.svg' %}" alt="icon">
                                                        <p class="align-self-center mb-0 ms-1">100
                                                            <!-- -->hr
                                                            <!-- -->0
                                                            <!-- -->min</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="all-btn all-category"><a class="btn btn-primary" href="{% url 'courses_details_page' %}">বিস্তারিত</a></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-4 col-md-6 mb-3 d-flex aos-init" data-aos="fade-up">
                                    <div class=" product card h-100  style_othersProductWhenActive__QFDbV  C ">
                                        <div class="product-img">
                                            <a href="{% url 'courses_details_page' %}">
                                                <img src="{% static 'assets/img/javacource.webp' %}" alt="java">
                                            </a>
                                            <div class="price">
                                                <h3>৳ ৬৫০০
                                                    <!-- --><span>৳ <!-- -->২৫০০০</span></h3>
                                            </div>
                                        </div>
                                        <div class="card-body pb-0 px-1">
                                            <div class="product-content">
                                                <div class="course-group">
                                                    <div class="course-group-img me-2">
                                                        <a href="#">
                                                            <img src="{% static 'assets/img/jamilur.webp' %}" alt="jamilur">
                                                        </a>
                                                        <div class="course-name ms-2">
                                                            <h4><a>Jamilur Rahman</a></h4>
                                                            <p>মেন্টর</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h3 class="title"><a href="{% url 'courses_details_page' %}">Java with Spring and Spring Boot: Road to becoming complete developer<!-- --> (<!-- -->8th Batch<!-- -->) </a></h3>
                                                <div class="d-flex mb-4">
                                                    <div class="rating-img d-flex">
                                                        <img src="{% static 'assets/img/icon-01.svg' %}" alt="icon">
                                                        <p class="align-self-center mb-0 ms-1">31
                                                            <!-- -->+ Lesson</p>
                                                    </div>
                                                    <div class="course-view d-flex">

                                                        <img src="{% static 'assets/img/icon-02.svg' %}" alt="icon">
                                                        <p class="align-self-center mb-0 ms-1">100
                                                            <!-- -->hr
                                                            <!-- -->0
                                                            <!-- -->min</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="all-btn all-category"><a class="btn btn-primary" href="{% url 'courses_details_page' %}">বিস্তারিত</a></div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-lg-4 col-md-6 mb-3 d-flex aos-init" data-aos="fade-up">
                                    <div class=" product card h-100  style_othersProductWhenActive__QFDbV  C ">
                                        <div class="product-img">
                                            <a href="{% url 'courses_details_page' %}">
                                                <img src="{% static 'assets/img/javacource.webp' %}" alt="java">
                                            </a>
                                            <div class="price">
                                                <h3>৳ ৬৫০০
                                                    <!-- --><span>৳ <!-- -->২৫০০০</span></h3>
                                            </div>
                                        </div>
                                        <div class="card-body pb-0 px-1">
                                            <div class="product-content">
                                                <div class="course-group">
                                                    <div class="course-group-img me-2">
                                                        <a href="#">
                                                            <img src="{% static 'assets/img/jamilur.webp' %}" alt="jamilur">
                                                        </a>
                                                        <div class="course-name ms-2">
                                                            <h4><a>Jamilur Rahman</a></h4>
                                                            <p>মেন্টর</p>
                                                        </div>
                                                    </div>
                                                </div>
                                                <h3 class="title"><a href="{% url 'courses_details_page' %}">Java with Spring and Spring Boot: Road to becoming complete developer<!-- --> (<!-- -->8th Batch<!-- -->) </a></h3>
                                                <div class="d-flex mb-4">
                                                    <div class="rating-img d-flex">
                                                        <img src="{% static 'assets/img/icon-01.svg' %}" alt="icon">
                                                        <p class="align-self-center mb-0 ms-1">31
                                                            <!-- -->+ Lesson</p>
                                                    </div>
                                                    <div class="course-view d-flex">

                                                        <img src="{% static 'assets/img/icon-02.svg' %}" alt="icon">
                                                        <p class="align-self-center mb-0 ms-1">100
                                                            <!-- -->hr
                                                            <!-- -->0
                                                            <!-- -->min</p>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-footer">
                                            <div class="all-btn all-category"><a class="btn btn-primary" href="{% url 'courses_details_page' %}">বিস্তারিত</a></div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <hr class="my-5">
                        </div>
                    </section>
                </div>
            </div>
        </div>



    </main>
{% endblock %}
