{% extends "base.html" %}
{% load static %}
{% block title %}Success Stories{% endblock  %}

{% block content %}
    <main class="main-contents">

        <div class="margintop"></div>

        <div class="page-banner">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 col-12" data-aos="fade-up">
                        <h1 class="mb-0">সফলতার গল্প</h1>
                        <div class="mt-2" style="text-align:justify">
                            <p>আমরা মনে করি সফলতার কোন নির্দিষ্ট সংজ্ঞা নেই। একেক জনের কাছে সফলতার সংজ্ঞা একেক রকম। জীবনের প্রতিটি ধাপে কোন একজনের নিজের জন্য নির্ধারিত লক্ষ্য অর্জনই তার জন্য সেই ধাপে অর্জিত সফলতা। পন্ডিতে কোন বিশেষ টপিকে দক্ষতা অর্জনের উদ্দেশ্যে
                                আগত শিক্ষার্থীদের সফলতার গল্প থাকছে এখানে। পাশাপাশি শিক্ষার্থীরা তাদের কর্মজীবনে প্রবেশের ক্ষেত্রে যেসব প্রতিবনদ্ধকতার মুখোমুখি হয়েছে, কর্মজীবনের নানা উত্থান পতন, উন্নতির জন্য তাদের প্রচেষ্টাসহ বিভিন্ন বিষয় নিয়ে আলোচনা
                                উঠে এসেছে এসব গল্পে।</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>




        <div class="infinite-scroll-component__outerdiv">
            <div class="infinite-scroll-component ">
                <section class="section py-5 " data-aos="fade-up">
                    <div class="container pb-3 ">
                        <div class="row"></div>
                        <div>
                            <div class="successstoriss">
                                <div class="successs">
                                    <div class="successcard">
                                        <div>আস্সালামুআলাইকুম, আমি ফারদিন এহসান খান। বর্তমানে সফটওয়্যার ডেভেলপার হিসাবে কাজ সফটওয়্যার লিমিটেডে আছি। আমি ২০১৮ সালে বাংলাদেশ সুইডেন পলিটেকনিক ইনস্টিটিউট হতে ডিপ্লোমা ইন কম্পিউটার ইঞ্জিনিয়ারিং সম্পন্ন করেছি। পাশ
                                            করার অনেকদিন পরও, ভালো কিছু করতে পারতেছিলাম না। Pondit has been a game-changer for my career growth. With the help of Pondit, I was able to take my career to the next level. The insights and advice provided
                                            were tailored to my specific needs and helped me to make informed decisions about my career path. I am thoroughly impressed with the level of support and guidance I have received from Pondit and would highly
                                            recommend Pondit to anyone looking to improve their career.</div>
                                        <div class="successcard-footer">
                                            <div class="success-user">
                                                <img src="{% static 'assets/img/default.webp' %}" alt="user">
                                                <div>
                                                    <h5>Fardin Ahsan</h5>
                                                    <div class="success-user-designation"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="successcard">
                                        <div>I recently completed a training with Pondit and I have to say it was a truly amazing experience.The trainers at Pondit are insightful, experienced and passionate about what they do. They made the learning process
                                            fascinating and interactive and helped me keep possession knowledge better . The training material provided was of the highest quality and well structured so it was easy to follow. Overall, I would highly recommend
                                            Pondit to anyone looking to enhance their skills and knowledge. The training was challenging but incredibly rewarding, and I am confident that I have taken away valuable skills that will serve me well in my
                                            future endeavors. Thank you, Pondit!</div>
                                        <div class="successcard-footer">
                                            <div class="success-user">
                                                <img src="{% static 'assets/img/default.webp' %}" alt="user">
                                                <div>
                                                    <h5>Mohammad sajjad Hossain</h5>
                                                    <div class="success-user-designation"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="successcard">
                                        <div>Every day, we meet strong senior women who live in difficult circumstances. But despite their circumstances, these women have chosen to empower others and to help them to develop</div>
                                        <div class="successcard-footer">
                                            <div class="success-user">
                                                <img src="{% static 'assets/img/default.webp' %}" alt="user">
                                                <div>
                                                    <h5>Md Ashraful Islam</h5>
                                                    <div class="success-user-designation"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="successcard">
                                        <div>Every day, we meet strong senior women who live in difficult circumstances. But despite their circumstances, these women have chosen to empower others and to help them to develop</div>
                                        <div class="successcard-footer">
                                            <div class="success-user">
                                                <img src="{% static 'assets/img/default.webp' %}" alt="user">
                                                <div>
                                                    <h5>Naimul Hasan</h5>
                                                    <div class="success-user-designation"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="successs">
                                    <div class="successcard">
                                        <div>Pondit provided me the foundation to pursue my software development dreams and equipped me with the knowledge to create innovative solutions. With its supportive community of experts and resources, Pondit has been
                                            the birthplace of my successful software development journey.</div>
                                        <div class="successcard-footer">
                                            <div class="success-user">
                                                <img src="{% static 'assets/img/default.webp' %}" alt="user">
                                                <div>
                                                    <h5>Masikur Rahman Misuk</h5>
                                                    <div class="success-user-designation"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="successcard">
                                        <div>পণ্ডিত শুধুমাত্র একটি ট্রেইনিং সেন্টার না, পণ্ডিত একটি কমিউনিটি। যেখানে অমি আমার স্কিল ডেভেলপমেন্ট-এর পাশাপাশি দক্ষ কিছু মেন্টর, বড়ভাই এবং বন্ধু পেয়েছি যাদের কাছ থেকে অমি ক্ষেত্রবিশেষে বিভিন্ন সহযোগিতা, অনুপ্রেরণা
                                            পেয়ে থাকি। এর পাশাপাশি আপনি যদি জব সেক্টরের আসল স্বাদ পেতে চান যেখানে কিছু রিয়েল প্রজেক্টে আপনাকে কাজ করার সুযোগ দিবে তাহলে আপনার পণ্ডিত-কে বেঁছে নেওয়া উচিৎ।</div>
                                        <div class="successcard-footer">
                                            <div class="success-user">
                                                <img src="{% static 'assets/img/default.webp' %}" alt="user">
                                                <div>
                                                    <h5>All Imam Asif</h5>
                                                    <div class="success-user-designation"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="successcard">
                                        <div>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters,
                                            as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for
                                            'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).</div>
                                        <div class="successcard-footer">
                                            <div class="success-user">
                                                <img src="{% static 'assets/img/default.webp' %}" alt="user">
                                                <div>
                                                    <h5>Mahtab Shahriar Chowdhury</h5>
                                                    <div class="success-user-designation"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="successcard">
                                        <div>PONDITS is one of the best learning platforms. I got a chance to complete the Software Quality and Assurance (batch-01) Course with 100% scholarship. After successfully completing the course, I was refunded the
                                            total security amount. It was great to learn with two Amazing mentors Masudur Rahaman and Minhaj Uddin Bhai. Thanks for all the support.</div>
                                        <div class="successcard-footer">
                                            <div class="success-user">
                                                <img src="{% static 'assets/img/default.webp' %}" alt="user">
                                                <div>
                                                    <h5>Anika Tabassum</h5>
                                                    <div class="success-user-designation"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
            </div>
        </div>


    </main>
{% endblock %}